@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Marcellus", sans-serif;
    font-weight: normal;
    text-align: center;
}

.navbar-nav .nav-link {
    font-family: 'Marcellus', serif;
    font-weight: 700;
    letter-spacing: 1px;
}